<%= render "shared/header" %>
<div class="main">

<div class="team-contents">
    <h2 class="title"><%= @user.nickname %> さんのチームへの応募申請</h2>
    <% if @teamapplies %>
    <ul class="team-lists">
      <% @teamapplies.each do |teamapply| %>
      <% user = User.find_by(id: teamapply.user_id) %>
      <% team = Team.find_by(id: teamapply.team_id) %>
      <li class="list">
        <div class="applied-team-name">
          <%= link_to team.team_name, team_path(team.id) %>に応募申請が来ています
        </div>
        <div class='user-img-content'>
          <%= image_tag user.image.variant(resize: '250x250'), class: "user-img" %>
        </div>
        <div class="user-name">
          応募申請者：<%= link_to user.nickname, user_path(user.id) %>
        </div>
        
      </li>
      <% end %>
    </ul>
    <% else %>
      現在応募はありません
    <% end %>
  </div>
  <div class="team-contents">
    <h2 class="title"><%= @user.nickname %> さんが応募しているチーム</h2>
    <% if @selfapplies %>
    <ul class="team-lists">
      <% @selfapplies.each do |teamapply| %>
      <% user = User.find_by(id: teamapply.user_id) %>
      <% team = Team.find_by(id: teamapply.team_id) %>
      <li class="list">
        <div class="applied-team-name">
          <%= link_to team.team_name, team_path(team.id) %>へ応募中
        </div>
        <div class='user-img-content'>
          <%= image_tag team.image.variant(resize: '250x250'), class: "user-img" %>
        </div>
        <div class="user-name">
          チーム管理者：<%= link_to team.user.nickname, user_path(user.id) %>
        </div>
        
      </li>
      <% end %>
    </ul>
    <% else %>
      現在応募はありません
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>