<%= render "shared/header" %>
<div class="main">
<%= form_with model: @team, url: team_path(@team.id), class: 'team-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      チーム情報入力
    </h1>
  </div>

<%= render 'shared/error_messages', model: f.object %>

  <div class="img-upload">
      <div class="weight-bold-text">
        チーム画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"team-image" %>
      </div>
    </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">チーム名</label>
      <span class="indispensable">必須(30文字以内)</span>
    </div>
    <%= f.text_area :team_name, class:"input-default", id:"team-name", placeholder:"例) スポッチーズ", maxlength:"30" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">スポーツカテゴリ</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:sports_id, Sports.all, :id, :name, {}, {class:"select-box", id:"team-sports"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">団体カテゴリー</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:group_id, Group.all, :id, :name, {}, {class:"select-box", id:"team-group"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">活動地域</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:active_area_id, ActiveArea.all, :id, :name, {}, {class:"select-box", id:"team-active-area"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">活動している曜日</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:active_day_id, ActiveDay.all, :id, :name, {}, {class:"select-box", id:"team-active-day"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">活動している時間帯</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:active_time_id, ActiveTime.all, :id, :name, {}, {class:"select-box", id:"team-active-time"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">具体的な活動場所</label>
      <span class="indispensable">必須(300文字以内)</span>
    </div>
    <%= f.text_area :place, class:"input-default", id:"team-place", placeholder:"例) 新宿スポーツセンター", maxlength:"300" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">男女比</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :gender_ratio, class:"input-default", id:"team-gender-ratio", placeholder:"例) 1:1", maxlength:"30" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">チームレベル</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:level_id, Level.all, :id, :name, {}, {class:"select-box", id:"team-level"}) %>
  </div>
  <div class='form-text-wrap'>
      <label class="form-text">プロフィール</label>
      <span class="indispensable">任意(300文字以内)</span>
    </div>
    <%= f.text_area :profile, class:"input-default", id:"team-profile", placeholder:"例) 人数は約30名で、20~30代多め。男女ともに仲の良いチームです！", maxlength:"300" %>
  </div>
  <div class='register-btn'>
    <%= f.submit "チーム情報を変更する" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>
</div>
<%= render "shared/footer" %>
