<%= render "shared/header" %>
<div class="main">

  <div class="team-wrapper">
    <h1 class="title"><%= @user.nickname %>さんが管理しているチーム </h1>
    <div class="team-contents">
      <ul class="team-lists">
        <% @teams.each do |team| %>
        <li class="team-list">
          <div class="team-name">
            <%= link_to team.team_name, team_path(team.id) %>
          </div>
          <div class='team-img-content'>
            <%= image_tag team.image.variant(resize: '100x130'), class: "team-img" %>
          </div>
          <div class="team-sports">
            【種目】<%= team.sports.name %>
          </div>
          <div class="team-group">
            【団体】<%= team.group.name %>
          </div>
          <div class="team-active-area">
            【活動地域】<%= team.active_area.name %>
          </div>
          <div class="team-user-name">
            【管理者】<%= link_to team.user.nickname, user_path(team.user.id) %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
<%= render "shared/footer" %>