<%= render "shared/header" %>
<div class="main">
  <div class="team-show">

    <div class="team-wrapper">
      <h1 class="title"><%= @team.team_name %> のチーム情報</h1>
      <div class="team-show-contents">
        <div class="team-contents-left">

            <%= image_tag @team.image.variant(resize: '200x200'), class: "team-img" %>
            <% if user_signed_in? && current_user.id != @team.user_id %>
            <div id="favorite-<%= @team.id %>" , class="favorite-icon">
              <%= render partial: "shared/favorite", locals: { team: @team } %>
            </div>
            <% end %>


          <% if user_signed_in? && current_user.id != @team.user_id %>
          <% if @team.applied?(current_user) %>
          <%= link_to "このチームへの応募を取り消す", team_apply_path(@team.id), method: :delete, class: "apply-destroy"%>
          <% else %>
          <%= link_to "このチームに応募する", team_applies_path(@team.id), method: :post, class: "apply-create" %>
          <% end %>
          <%= link_to "このチームに寄付する", new_team_donation_path(@team.id), class: "donation-btn" %>
          <% end %>

          <% if user_signed_in? && current_user.id == @team.user_id %>
          <%= link_to "申請承認待ち一覧ページ", team_applies_path(@team.id), class: "apply-list" %>
          <% end %>

          <% if user_signed_in? && current_user.id == @team.user_id %>
          <%= link_to "チーム情報を編集する", edit_team_path(@team.id), class: "team-edit" %>
          or
          <%= link_to "このチームを削除する", team_path(@team.id), method: :delete, class: "team-destroy" %>
          <% end %>
        </div>
        <div class="team-contents-right">
          <div class="info-lists">
            チーム名：<%= @team.team_name %>
          </div>
          <div class="info-lists">
            スポーツカテゴリー：<%= @team.sports.name %>
          </div>
          <div class="info-lists">
            団体カテゴリー：<%= @team.group.name %>
          </div>
          <div class="info-lists">
            活動地域：<%= @team.active_area.name %>
          </div>
          <div class="info-lists">
            活動曜日：<%= @team.active_day.name %>
          </div>
          <div class="info-lists">
            活動時間帯：<%= @team.active_time.name %>
          </div>
          <div class="info-lists">
            チームレベル：<%= @team.level.name %>
          </div>
          <div class="info-lists">
            具体的な活動場所：<%= @team.place %>
          </div>
          <div class="info-lists">
            チームの男女比：<%= @team.gender_ratio %>
          </div>
          <div class="info-lists">
            プロフィール：<%= @team.profile %>
          </div>
          <div class="info-lists">
            チームの管理者：<%= link_to @team.user.nickname, user_path(@team.user.id) %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%= render "shared/footer" %>