<%= render "shared/header" %>
<div class="main">
  <div class="team-show">
    <div class="team-info">
      
      <div id = "fovorite-<%= @team.id %>">
        <%= render partial: "shared/favorite", locals: { team: @team } %>
      </div>
      
      <% if user_signed_in? && current_user.id != @team.user_id %>
      <div class="team-apply">
        <% if @team.applied?(current_user) %>
        <%= link_to "このチームへの応募を取り消す", team_apply_path(@team.id), method: :delete %>
        <% else %>
        <%= link_to "このチームに応募する", team_applies_path(@team.id), method: :post %>
        <% end %>
      </div>
      <div class="team-donation">
        <%= link_to "このチームに寄付する", new_team_donation_path(@team.id) %>
      </div>
      <% end %>

      <% if user_signed_in? && current_user.id == @team.user_id %>
        <%= link_to "申請承認待ち一覧ページ", team_applies_path(@team.id) %>
      <% end %>

      <div class='item-img-content'>
        <%= image_tag @team.image.variant(resize: '250x250'), class: "item-img" %>
      </div>

      <div class="team-name">
        チーム名：<%= @team.team_name %>
      </div>
      <div class="team-sports">
        スポーツカテゴリー：<%= @team.sports.name %>
      </div>
      <div class="team-group">
        団体カテゴリー：<%= @team.group.name %>
      </div>
      <div class="team-active-area">
        活動地域：<%= @team.active_area.name %>
      </div>
      <div class="team-active-day">
        活動曜日：<%= @team.active_day.name %>
      </div>
      <div class="team-active-time">
        活動時間帯：<%= @team.active_time.name %>
      </div>
      <div class="team-level">
        チームレベル：<%= @team.level.name %>
      </div>
      <div class="team-place">
        具体的な活動場所：<%= @team.place %>
      </div>
      <div class="team-gender-ratio">
        チームの男女比：<%= @team.gender_ratio %>
      </div>
      <div class="team-profile">
        チームのプロフィール：<%= @team.profile %>
      </div>
    </div>
    <div class="user-info">
      <div class="user-nickname">
        チームの管理者：<%= link_to @team.user.nickname, user_path(@team.user.id) %>
      </div>
    </div>
    <% if user_signed_in? && current_user.id == @team.user_id %>
      <%= link_to "編集", edit_team_path(@team.id) %>
      <%= link_to "削除", team_path(@team.id), method: :delete %>
    <% end %>

    <div class="container">
      <% if user_signed_in? %>
      <%= form_with(model: [@team, @comment], local: true) do |form| %>
      <%= form.text_area :text, placeholder: "ここにコメントを入力してください", rows: "2" %>
      <%= form.submit "送信" %>
      <% end %>
      <% else %>
      <strong>
        <p>コメントの投稿には新規登録/ログインが必要です</p>
      </strong>
      <% end %>
      <div class="comments">
        <h4>＜コメント一覧＞</h4>
        <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "#" %>：</strong>
          <%= comment.text %>
        </p>
        <% end %>
      </div>
    </div>
  </div>


</div>
<%= render "shared/footer" %>