<%= render "shared/header" %>
<div class="main">
  <div class="user-info">
    <div class="user-wrapper">
      <h1 class="title"><%= @user.nickname %> さんの登録情報</h1>
      <div class="user-contents">
        <div class="user-contents-left">
          <div class='user-show-img-content'>
            <%= image_tag @user.image.variant(resize: '400x200'), class: "user-img" %>
          </div>
          <div class="user-chat">
            <% if current_user.id != @user.id %>
            <%= link_to "#{@user.nickname}さんとチャットする", chat_path(@user.id), class:"go-chat-room" %>
            <% end %>
          </div>

          <div class="user-edit">
          <% if user_signed_in? && @user.id == current_user.id %>
            <%= link_to "ユーザー情報を編集する", edit_user_registration_path, class:"go-user-edit" %><br>
          </div>
          <div class="user-card">
            <% if @user.card %>
            <%= link_to "登録しているクレジットカード情報を確認する", card_path(@user), class:"credit-info" %>
            <% else %>
            <%= link_to "クレジットカードを登録する", new_card_path, class:"card-regist" %>
            <% end %>
            <% end %>
          </div>
        </div>
        <div class="user-contents-right">
          <div class="info-lists">
            ニックネーム：<%= @user.nickname %>
          </div>
          <div class="info-lists">
            スポーツカテゴリー：<%= @user.sports.name %>
          </div>
          <div class="info-lists">
            活動地域：<%= @user.active_area.name %>
          </div>
          <div class="info-lists">
            活動曜日：<%= @user.active_day.name %>
          </div>
          <div class="info-lists">
            活動時間帯：<%= @user.active_time.name %>
          </div>
          <div class="info-lists">
            過去の実績：<%= @user.achievement.name %>
          </div>
          <div class="info-lists">
            過去の実績の補足：<%= @user.achievement_content %>
          </div>
          <div class="info-lists">
            プロフィール：<%= @user.profile %>
          </div>
          【<%= @user.nickname %>さんが管理しているチーム】
          <div class="info-lists">
            <% @user.teams.each do |team| %>
            「<%= link_to team.team_name, team_path(team.id) %>」
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="team-wrapper">
      <h1 class="title"><%= @user.nickname %> さんが応募しているチーム</h1>
      <h3>チーム管理者にて参加申請を確認中です。申請が承認されると「SPOTCHしたチーム」に自動で追加されます。</h3>
      <div class="team-contents">
        <ul class="team-lists">
          <% @self_applies.each do |team_apply| %>
          <% user = User.find_by(id: team_apply.user_id) %>
          <% team = Team.find_by(id: team_apply.team_id) %>
          <li class="team-list">
            <div class="team-name">
              <%= link_to team.team_name, team_path(team.id) %>へ応募中
            </div>
            <div class='team-img-content'>
              <%= image_tag team.image.variant(resize: '100x130'), class: "team-img" %>
            </div>
            <div class="team-sports">
              【種目】<%= team.sports.name %>
            </div>
            <div class="team-group">
              【団体】<%= team.group.name %>
            </div>
            <div class="team-active-area">
              【活動地域】<%= team.active_area.name %>
            </div>
            <div class="team-user-name">
              【管理者】<%= link_to team.user.nickname, user_path(team.user.id) %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="team-wrapper">
      <h1 class="title"><%= @user.nickname %> さんがSPOTCHしたチーム</h1>
      <h3>下記のチームから参加申請が承認されました！チーム管理者とチャットをして当日の詳細を確認しましょう！</h3>
      <div class="team-contents">
        <ul class="team-lists">
          <% @approves.each do |approve| %>
          <% user = User.find_by(id: approve.user_id) %>
          <% team = Team.find_by(id: approve.team_id) %>
          <li class="team-list">
            <div class="applied-team-name">
              <%= link_to team.team_name, team_path(team.id) %>から承認されました
            </div>
            <div class='team-img-content'>
              <%= image_tag team.image.variant(resize: '100x130'), class: "team-img" %>
            </div>
            <div class="team-sports">
              【種目】<%= team.sports.name %>
            </div>
            <div class="team-group">
              【団体】<%= team.group.name %>
            </div>
            <div class="team-active-area">
              【活動地域】<%= team.active_area.name %>
            </div>
            <div class="team-user-name">
              【管理者】<%= link_to team.user.nickname, user_path(team.user.id) %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>
<%= render "shared/footer" %>