<%= render "shared/header" %>
<div class="main">
  <div class="user-info">
    <div class='user-img-content'>
        <%= image_tag @user.image.variant(resize: '100x100'), class: "user-img" %>
    </div>
    <div class="user-nickname">
      <%= @user.nickname %>
    </div>
    <div class="user-sports">
      <%= @user.sports.name %>
    </div>
    <div class="user-active-area">
      <%= @user.active_area.name %>
    </div>
    <div class="user-active-day">
      <%= @user.active_day.name %>
    </div>
    <div class="user-active-time">
      <%= @user.active_time.name %>
    </div>
    <% if @user.achievement %>
    <div class="user-achievement">
      <%= @user.achievement.name %>
    </div>
    <% end %>
    <% if @user.achievement_content %>
    <div class="user-achievement-content">
      <%= @user.achievement_content %>
    </div>
    <% end %>
    <% if @user.profile %>
    <div class="user-profile">
      <%= @user.profile %>
    </div>
    <% end %>
  </div>

  <% if user_signed_in? && @user.id == current_user.id %>
    <% if @user.card %>
      <%= link_to "登録しているクレジットカード情報を確認する", card_path(@user) %>
    <% else %>
      <%= link_to "クレジットカードを登録する", new_card_path %>
    <% end %>
  <% end %>

  <div class="team-contents">
    <h2 class="title"><%= @user.nickname %>さんが管理しているチーム </h2>
    <ul class="team-lists">
      <% @teams.each do |team| %>
      <li class="list">
        <div class='team-img-content'>
          <%= image_tag team.image.variant(resize: '250x250'), class: "team-img" %>
        </div>
        <div class="team-name">
          <%= link_to team.team_name, team_path(team.id) %>
        </div>
        <div class="team-name">
          管理者<%= link_to team.user.nickname, user_path(team.user.id) %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>