<header class='page-header'>
  <div class='logo'>
    <%= link_to image_tag("spotch-logo.png", class:"spotch-logo"), root_path %>
  </div>
  <div class='nav'>
    <ul class='nav-lists'>

      <% if user_signed_in?%>
      <li class="faa-parent animated-hover"><i class="fas fa-running faa-bounce fa-2x">
        </i><%= link_to current_user.nickname, user_path(current_user.id), class: "nav-list" %></li>
      <li class="faa-parent animated-hover"><i class="fas fa-heart faa-tada fa-2x"
          style="color:red;"></i><%= link_to 'お気に入り', favorite_users_path, class: "nav-list"  %></li>
      <li class="faa-parent animated-hover "><i class="fas fa-bell faa-ring fa-2x"
          style="color:blue;"></i><%= link_to 'Myチーム', myteam_teams_path, class: "nav-list" %></li>
      <li class="faa-parent animated-hover "><i class="fas fa-envelope faa-shake fa-2x"
          style="color:lightgreen;"></i><%= link_to 'オファー', "#", class: "nav-list" %></li>
      <li class="faa-parent animated-hover "><i class="fas fa-hands-helping faa-vertical fa-2x"
          style="color:orange;"></i><%= link_to '寄付', donation_teams_path, class: "nav-list" %></li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-list" %>
      </li>
      <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path, class: "nav-list"  %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path, class: "nav-list"  %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class='smart-nav'>
    <ul>

      <% if user_signed_in?%>
      <li class="faa-parent animated-hover"><%= link_to "マイページ", user_path(current_user.id) %></li>
      <li class="faa-parent animated-hover"><%= link_to 'お気に入り', favorite_users_path %></li>
      <li class="faa-parent animated-hover "><%= link_to 'Myチーム', myteam_teams_path %></li>
      <li class="faa-parent animated-hover "><%= link_to 'オファー', "#" %></li>
      <li class="faa-parent animated-hover "><%= link_to '寄付', donation_teams_path %></li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <% end %>
      <li class="close"><span>× 閉じる</span></li>
    </ul>
  </div>
  <div class="menu-icon">
  <span><i class="fas fa-bars"></i></span>
  </div>
</header>