<%= render "shared/header" %>
<div class="main">
<div class="chats">
  <div class="chat-wrapper">
    <h1 class="title"><%= @user.nickname %> さんとのチャットルーム</h1>
    <div class="chat-user">
    <%= image_tag current_user.image.variant(resize: '80x80') %>
                  <p style="text-align: left; font-size: 20px;"><%= current_user.nickname %>(自分)</p>
                  <p style="text-align: right; font-size: 20px;"><%= @user.nickname %>(相手)</p>
                  <%= image_tag @user.image.variant(resize: '80x80') %>
                  </div>
    <div class="chat-contents message">
              <% @chats.each do |chat| %>
                <% if chat.user_id == current_user.id %>
                      <p style="text-align: left;"><%= chat.message %></p>
                <% else %>
                      <p style="text-align: right;"><%= chat.message %></p>
                <% end %>
              <% end %>
    </div>
  </div>
  <div class="message-wrapper">
    <%= form_with model: @chat, class: "js-form" do |f| %>
    <%= f.text_field :message, placeholder: "ここにメッセージを入力してください", class: "chat-box" %>
    <%= f.hidden_field :room_id %>
    <%= f.submit "送信", class:"chat-red-btn" %>
    <% end %>
  </div>
  <div class="error-alert"></div>
</div>

</div>
<%= render "shared/footer" %>