<%= render "shared/header" %>
<div class="main">
  <div class="card">
    <div class="card-wrapper">
      <h1 class='form-title'>クレジットカード登録</h1>
      <div class="card-registration">
        <%= form_with url: cards_path, id: 'charge-form', class: 'card-form', local: true do |f| %>
        <div class="card-wrap">
          <%= f.label :number, "【カード番号】" %>
          <%= f.text_field :number, class:"number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
        </div>
        <div class="card-wrap">
          <%= f.label :cvc, "【CVC】" %>
          <%= f.text_field :cvc, class:"cvc", placeholder:"カード背面にある3桁の番号", maxlength:"4" %>
        </div>
        <div class="card-wrap">
          <br>
          <div class="input-expiration-date-wrap">
            【有効期限】
            <%= f.text_field :exp_month, class: "exp-month exp-month-box", placeholder:"例）3" %>月
            <%= f.text_field :exp_year, class: "exp-year exp-year-box", placeholder:"例）24" %>年
          </div>
        </div>
        <div class='card-btn'>
          <%= f.submit "登録する", class:"red-btn", id:"button" %>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
<%= render "shared/footer" %>