<%= render "shared/header" %>
<div class="main">

    <div class="card-title">
      カード情報
    </div>
    <div class="card-info">
      【カード番号】
      <br>
      <%= "**** **** ****" + @card[:last4] %>
      <br>
      【有効期限】
      <br>
      <%= @card[:exp_month] %>
      /
      <%= @card[:exp_year] %>
    </div>

  <%= link_to "マイページへ戻る", user_path(@user.id) %>

</div>
<%= render "shared/footer" %>